body {
  margin: 20px;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
  color: white;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.w3-animate-fading{
  animation:fading 3s infinite
  
}

@keyframes fading {
  0%{opacity:0}
  15%{opacity:1}
  95%{opacity:1}
  100%{opacity:0}
}

.currentImage{
  position:absolute;
  top:0px;
  left:0px;
  
}

.relative{
  position: relative;
}